*, *:before, *:after {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -webkit-transition: all 0.3s 0s ease-out;
          transition: all 0.3s 0s ease-out; }

body {
  font-family: 'Open Sans', sans-serif !important; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif !important; }

/* CSS declarations go here */
.listview {
  width: 100%;
  overflow: hidden; }
  .listview .tablecontainer {
    width: 100%;
    overflow: scroll; }
  .listview table {
    width: 1200px; }
  .listview td {
    vertical-align: top; }
  .listview thead td:nth-of-type(1) {
    width: 20px; }
  .listview thead td:nth-of-type(2) {
    width: 125px; }
  .listview thead td:nth-of-type(3) {
    width: 150px; }
  .listview thead td:nth-of-type(4) {
    width: 150px; }
  .listview thead td:nth-of-type(5) {
    width: 250px; }
  .listview thead td:nth-of-type(6) {
    width: 150px; }
  .listview tr:nth-of-type(odd).selected {
    background-color: #65d0c7; }
  .listview tr:nth-of-type(even).selected {
    background-color: #8cdcd5; }
  .listview .asset_listview_preview {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px; }
  .listview .asset_listview_design {
    display: block;
    float: left;
    width: 50px;
    max-height: 50px;
    margin-right: 5px;
    outline: 1px solid #D7D7D7; }
  .listview .asset_listview_preview_design {
    width: 40%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 20%; }

input[type=radio].tagcheckbox, input[type=checkbox].tagcheckbox {
  display: block;
  margin-left: -999999px;
  overflow: hidden;
  height: 1px;
  outline: 1px solid red;
  width: 1px;
  float: left;
  clip: rect(0, 0, 0, 0); }
  input[type=radio].tagcheckbox + .tag, input[type=checkbox].tagcheckbox + .tag {
    display: block;
    float: left;
    background: #D7D7D7;
    padding: 0 10px;
    line-height: 2em;
    overflow: hidden; }
  input[type=radio].tagcheckbox:checked + .tag, input[type=checkbox].tagcheckbox:checked + .tag {
    background: #1CB3A6;
    color: #FFFFFF; }

.box {
  display: block;
  background: #EDEDED;
  padding: 10px;
  overflow: hidden !important;
  width: 100%;
  margin: 0;
  font-size: 1rem; }
  .box h4 {
    font-size: 1rem;
    height: 3rem; }
  .box .edit_asset_button {
    background-color: #D7D7D7;
    width: 100%;
    padding: 1em !important;
    margin: 0 !important; }
    .box .edit_asset_button:hover {
      background-color: #7dd1ca !important; }
    .box .edit_asset_button:focus, .box .edit_asset_button:active {
      background-color: #199d92 !important;
      outline: none; }
  .box:hover {
    background-color: #dbf3f1; }
    .box:hover .edit_asset_button {
      background-color: #1CB3A6; }

#newAssetTagContainer {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px; }

.assetcontainer .box {
  height: 300px; }
  .assetcontainer .box img {
    width: 100%;
    max-width: 100%;
    max-height: 125px; }

.edit_asset_img {
  max-height: 300px;
  margin-bottom: 2em; }

#assets {
  padding: 10px; }

aside {
  width: 100%;
  display: block;
  border: 1px dashed #1CB3A6;
  padding: 10px;
  float: left;
  height: auto; }
  @media screen and (min-width: 800px) {
    aside {
      width: 20%; } }

.content {
  width: 100%;
  float: right; }

.tag {
  border-radius: 5px;
  margin: 10px 10px 10px 0 !important; }

input.tag {
  height: 3.4em !important;
  padding: 5px 0 !important;
  margin-right: 5px;
  font-size: 0.8125rem;
  width: auto !important;
  background: white !important; }

nav {
  background: #413231; }

.nav_item {
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: none;
  font-family: 'Roboto Slab', serif !important;
  color: #FFFFFF; }
  .nav_item.active {
    background-color: #1CB3A6;
    color: #413231; }

#nav_tags {
  color: #413231 !important; }

.dottedline {
  width: auto;
  height: 95%;
  border: 2px dashed #5E5E5E;
  margin: 10px; }

#btnNewAsset {
  text-align: center;
  color: #5E5E5E; }
  #btnNewAsset h1 {
    line-height: 7.5rem;
    margin: 20px 0 0;
    color: #5E5E5E;
    font-size: 7.5rem; }
  #btnNewAsset .box {
    background: #E9E9E9 url("/img/add.png") 50% 40% no-repeat;
    background-size: 40%;
    padding-top: 90%; }

.flexigrid {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100% !important; }
  .flexigrid .flexigrid-item {
    float: left;
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    width: 50%; }
    .flexigrid .flexigrid-item figure {
      display: block;
      height: 175px !important;
      padding: 0;
      margin: 0;
      clear: both; }
      .flexigrid .flexigrid-item figure img {
        background-color: #D7D7D7;
        float: left;
        width: 15%;
        margin-top: -10px;
        outline: 1px solid #413231;
        margin-right: 10px; }
      .flexigrid .flexigrid-item figure img:first-of-type {
        display: block;
        position: relative;
        background: none !important;
        width: 40%;
        margin: 30% 30% 20%;
        outline: none; }
    @media screen and (min-width: 480px) {
      .flexigrid .flexigrid-item {
        width: 33%; } }
    @media screen and (min-width: 800px) {
      .flexigrid .flexigrid-item {
        width: 25%; }
        .flexigrid .flexigrid-item figure {
          height: 135px; } }
    .flexigrid .flexigrid-item.selected .box {
      box-shadow: none !important;
      background-color: #7dd1ca; }

.shadow-light, .box {
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.25); }

.shadow-dark, .box:hover {
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }

.box {
  -webkit-transition: all 0.3s 0s ease-out;
          transition: all 0.3s 0s ease-out; }

.dropdown-arrow-right:before {
  display: block;
  width: 1em;
  content: "\232A";
  float: right;
  margin-right: -30px;
  margin-top: -5px;
  text-align: center; }

#assetFiltersStatuses .f-dropdown {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  overflow: scroll; }
  #assetFiltersStatuses .f-dropdown li {
    clear: both; }

.design_tag {
  height: 100px; }
  .design_tag img {
    width: 75px;
    max-height: 75px;
    margin: 10px 0; }

.productfilterstab dd {
  width: 20%;
  text-align: center;
  outline: 1px solid #D7D7D7; }
  .productfilterstab dd.active a {
    background: #1CB3A6 !important; }
.productfilterstab a {
  padding: 10px 0 !important;
  font-size: 80% !important;
  height: 100px; }
.productfilterstab img {
  max-height: 50px; }

.region_productfilterstab dd.active a {
  background-color: #1CB3A6; }

.region_productfilterstabcontent {
  outline: 1px solid #D7D7D7;
  padding: 10px; }
  .region_productfilterstabcontent .product_tag {
    margin: 1% !important;
    height: 145px;
    width: 31%; }
    @media screen and (min-width: 480px) {
      .region_productfilterstabcontent .product_tag {
        height: 145px;
        width: 14.6%; } }
    @media screen and (min-width: 800px) {
      .region_productfilterstabcontent .product_tag {
        height: 145px;
        width: 14.6%; } }
    .region_productfilterstabcontent .product_tag img {
      margin: 5px auto;
      max-height: 100px !important; }
  .region_productfilterstabcontent span {
    text-align: center;
    display: block;
    font-size: 0.7rem;
    line-height: 0.8rem; }

#appliedfilters {
  outline: 1px solid #D7D7D7;
  overflow: hidden;
  padding: 10px 10px 0; }
  #appliedfilters .filter_tag {
    display: block;
    background: #D7D7D7;
    padding: 10px;
    margin: 0 10px 10px 0;
    float: left;
    border-radius: 10px; }
    #appliedfilters .filter_tag.filter_tag_design {
      height: 90px; }
    #appliedfilters .filter_tag img {
      max-width: 60px;
      max-height: 80px; }
    #appliedfilters .filter_tag button {
      font-size: 1rem;
      line-height: .6rem;
      border-radius: 20px;
      padding: 5px;
      background-color: #FFFFFF;
      color: #413231;
      float: right;
      margin: 0; }
    #appliedfilters .filter_tag p {
      display: block;
      float: left;
      margin: 0 10px 0 0;
      font-size: 80%; }

.editing_product .editing {
  height: 610px; }

input[type=checkbox].colortag + .tag {
  width: 25px;
  height: 25px;
  border-radius: 0 !important;
  border: 4px solid #D7D7D7; }

input[type=checkbox]:checked.colortag + .tag {
  border-radius: 0 !important;
  border: 4px solid #1CB3A6; }

.Global:before {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  content: "\ ";
  background: url("/img/global_black.png") left top no-repeat;
  background-size: cover; }

.logo {
  display: block;
  float: left;
  width: 50px;
  height: 65px;
  background: url("/img/logo_small.png") left top no-repeat;
  margin-left: 50px; }

.bulkactions {
  display: block;
  width: 330px;
  float: right; }
  .bulkactions p {
    width: 120px;
    float: left; }
  .bulkactions select {
    width: 250px;
    height: 79px;
    float: left; }
  .bulkactions button {
    float: right;
    height: 79px; }

#assetgridview, #assetlistview, .select_all {
  float: left;
  margin-right: 5px;
  width: 37px;
  padding: 10px; }

.select_all {
  padding: 0 !important;
  width: 37px !important;
  height: 37px; }
  .select_all input[type=checkbox] {
    width: 30px;
    margin: 10px; }

#sort_assets {
  display: block;
  float: right;
  width: 250px; }

#sort_assets_apply {
  width: 73px;
  height: 37px;
  padding: 10px;
  float: right;
  margin: 0 -10px 0 7px; }

#assets_status {
  display: block;
  float: left;
  width: 250px; }

#show_assets_by_status {
  margin-left: 5px;
  height: 37px;
  padding: 10px;
  float: left; }

.applyfilters {
  display: block;
  position: relative !important;
  float: right;
  font-size: 1rem !important;
  color: white !important;
  font-weight: normal !important;
  margin-right: 10px; }
  .applyfilters.cancel {
    color: #413231 !important; }

.search {
  width: 25% !important;
  float: left; }

.search_button {
  margin-left: 10px;
  float: left;
  height: 37px; }

.filter_by_products_button {
  width: 50px;
  margin-right: 10px; }

.label {
  margin: -5px 0 0 -40px !important;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 5px 40px 5px 35px; }
  .label.In.Review {
    background-color: #FFF266 !important;
    color: #413231; }
  .label.Published {
    background-color: #4CBF4C !important; }
  .label.Unpublished {
    background-color: #D7D7D7 !important;
    color: #413231; }
  .label.Approved {
    background-color: #1CB3A6 !important; }
  .label.Rejected {
    background-color: #D96666 !important; }

.secondary_select_option {
  color: #E9E9E9 !important; }

.zerostate_asset {
  margin: 0 40px 40px 40px !important;
  text-align: center; }

.zero_state_multiple:before {
  display: block;
  width: 230px;
  height: 300px;
  margin: 0 !important;
  content: "\ ";
  background-color: #e1e1e1;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  position: absolute;
  z-index: -1; }
.zero_state_multiple:after {
  display: block;
  width: 230px;
  height: 300px;
  margin: 0 !important;
  content: "\ ";
  background-color: gainsboro;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: absolute;
  margin-top: -300px !important;
  z-index: -2; }
