*, *:before, *:after {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -webkit-transition: all 0.3s 0s ease-out;
          transition: all 0.3s 0s ease-out; }

body {
  font-family: 'Open Sans', sans-serif !important; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif !important; }

/* CSS declarations go here */
.listview {
  overflow: scroll; }
  .listview td {
    vertical-align: top; }
  .listview thead td:nth-of-type(1) {
    width: 20px; }
  .listview thead td:nth-of-type(2) {
    width: 75px; }
  .listview thead td:nth-of-type(3) {
    width: 150px; }

input[type=radio].tagcheckbox, input[type=checkbox].tagcheckbox {
  display: block;
  margin-left: -999999px;
  overflow: hidden;
  height: 1px;
  outline: 1px solid red;
  width: 1px;
  float: left;
  clip: rect(0, 0, 0, 0); }
  input[type=radio].tagcheckbox + .tag, input[type=checkbox].tagcheckbox + .tag {
    display: block;
    float: left;
    background: #d7d7d7;
    padding: 0 10px;
    line-height: 2em;
    overflow: hidden; }
  input[type=radio].tagcheckbox:checked + .tag, input[type=checkbox].tagcheckbox:checked + .tag {
    background: #1cb3a6;
    color: white; }

.box {
  display: block;
  background: #EDEDED;
  padding: 10px;
  overflow: hidden !important;
  width: 100%;
  margin: 0;
  font-size: 1rem; }
  .box h4 {
    font-size: 1rem;
    height: 3rem; }
  .box .edit_asset_button {
    background-color: #d7d7d7;
    width: 100%;
    padding: 1em !important;
    margin: 0 !important; }
    .box .edit_asset_button:hover {
      background-color: #7dd1ca !important; }
    .box .edit_asset_button:focus, .box .edit_asset_button:active {
      background-color: #199d92 !important;
      outline: none; }
  .box:hover {
    background-color: #dbf3f1; }
    .box:hover .edit_asset_button {
      background-color: #1cb3a6; }

#newAssetTagContainer {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px; }

.assetcontainer .box {
  height: 300px; }
  .assetcontainer .box img {
    width: 100%;
    max-width: 100%;
    max-height: 125px; }

.edit_asset_img {
  max-height: 300px;
  margin-bottom: 2em; }

#assets {
  padding: 10px; }

aside {
  width: 100%;
  display: block;
  border: 1px dashed #1cb3a6;
  padding: 10px;
  float: left;
  height: auto; }
  @media screen and (min-width: 800px) {
    aside {
      width: 20%; } }

.content {
  width: 100%;
  float: right; }

.tag {
  border-radius: 5px;
  margin: 10px 10px 10px 0 !important; }

input.tag {
  height: 3.4em !important;
  padding: 5px 0 !important;
  margin-right: 5px;
  font-size: 0.8125rem;
  width: auto !important;
  background: white !important; }

nav {
  background: #413231; }

.nav_item {
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: none;
  font-family: 'Roboto Slab', serif !important;
  color: white; }
  .nav_item.active {
    background-color: #1cb3a6;
    color: #413231; }

.dottedline {
  width: auto;
  height: 95%;
  border: 2px dashed #5e5e5e;
  margin: 10px; }

#btnNewAsset {
  text-align: center;
  color: #5e5e5e; }
  #btnNewAsset h1 {
    line-height: 7.5rem;
    margin: 20px 0 0;
    color: #5e5e5e;
    font-size: 7.5rem; }

.flexigrid {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100% !important; }
  .flexigrid .flexigrid-item {
    float: left;
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    width: 50%; }
    .flexigrid .flexigrid-item figure {
      display: block;
      height: 175px !important;
      padding: 0;
      margin: 0;
      clear: both; }
      .flexigrid .flexigrid-item figure img {
        background-color: #d7d7d7;
        float: left;
        width: 15%;
        margin-top: -10px;
        outline: 1px solid #413231;
        margin-right: 10px; }
      .flexigrid .flexigrid-item figure img:first-of-type {
        display: block;
        position: relative;
        background: none !important;
        width: 40%;
        margin: 30% 30% 20%;
        outline: none; }
    @media screen and (min-width: 480px) {
      .flexigrid .flexigrid-item {
        width: 33%; } }
    @media screen and (min-width: 800px) {
      .flexigrid .flexigrid-item {
        width: 25%; }
        .flexigrid .flexigrid-item figure {
          height: 135px; } }
    .flexigrid .flexigrid-item.selected .box {
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      background-color: #7dd1ca; }

.shadow-light, .box {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.25);
          box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.25); }

.shadow-dark, .box:hover {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75); }

.box {
  -webkit-transition: all 0.3s 0s ease-out;
          transition: all 0.3s 0s ease-out; }

.dropdown-arrow-right:before {
  display: block;
  width: 1em;
  content: "\232A";
  float: right;
  margin-right: -30px;
  margin-top: -5px;
  text-align: center; }

#assetFiltersStatuses .f-dropdown {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  overflow: scroll; }
  #assetFiltersStatuses .f-dropdown li {
    clear: both; }

.design_tag {
  height: 100px; }
  .design_tag img {
    width: 75px;
    max-height: 75px;
    margin: 10px 0; }

.productfilterstab dd {
  width: 20%;
  text-align: center;
  outline: 1px solid #d7d7d7; }
  .productfilterstab dd.active a {
    background: #1cb3a6 !important; }
.productfilterstab a {
  padding: 10px 0 !important;
  font-size: 80% !important;
  height: 100px; }
.productfilterstab img {
  max-height: 50px; }

.productfilterstabcontent {
  outline: 1px solid #d7d7d7;
  padding: 10px; }
  .productfilterstabcontent .product_tag {
    margin: 1% !important;
    height: 145px;
    width: 31%; }
    @media screen and (min-width: 480px) {
      .productfilterstabcontent .product_tag {
        height: 145px;
        width: 14.6%; } }
    @media screen and (min-width: 800px) {
      .productfilterstabcontent .product_tag {
        height: 145px;
        width: 14.6%; } }
    .productfilterstabcontent .product_tag img {
      margin: 5px auto;
      max-height: 100px; }
  .productfilterstabcontent span {
    text-align: center;
    display: block;
    font-size: 0.7rem;
    line-height: 0.8rem; }

#appliedfilters {
  outline: 1px solid #d7d7d7;
  overflow: hidden; }
  #appliedfilters .filter_tag {
    display: block;
    background: #d7d7d7;
    padding: 10px;
    margin: 0 10px 10px 0;
    float: left;
    border-radius: 10px; }
    #appliedfilters .filter_tag.filter_tag_design {
      height: 90px; }
    #appliedfilters .filter_tag img {
      max-width: 60px;
      max-height: 80px; }
    #appliedfilters .filter_tag button {
      font-size: 1rem;
      line-height: .6rem;
      border-radius: 20px;
      padding: 5px;
      background-color: white;
      color: #413231;
      float: right;
      margin: 0; }
    #appliedfilters .filter_tag p {
      display: block;
      float: left;
      margin: 0 10px 0 0;
      font-size: 80%; }
