
@mixin font-headline {
	font-family: 'Roboto Slab', serif !important;
}

@mixin font-text {
	font-family: 'Open Sans', sans-serif !important;
}

*, *:before, *:after {
	
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;

	transition: all 0.3s 0s ease-out; 
}

body {
	@include font-text;
	
}

h1, h2, h3, h4, h5 {
	@include font-headline;	
}


/* CSS declarations go here */
$break-small: 480px;
$break-medium: 800px;
$break-large: 1280px;

$padding: 10px;

// Colors
$color-primary: #1CB3A6; // Spreadshirt green
$color-dark: #413231;
$color-light: #FFFFFF;
$color-light-gray: #E9E9E9;
$color-gray: #D7D7D7;
$color-secondary: $color-gray;
$color-dark-gray: #5E5E5E; 

.listview {
	width: 100%;
	overflow:hidden;

	.tablecontainer {
		width: 100%;
		overflow: scroll;
	}

	table {
		width: 1200px;
	}
	
	td {
		vertical-align: top;
	}
	
	thead {
		td:nth-of-type(1) { width: 20px; }
		td:nth-of-type(2) { width: 125px; }
		td:nth-of-type(3) { width: 150px; }
		td:nth-of-type(4) { width: 150px; }
		td:nth-of-type(5) { width: 250px; }
		td:nth-of-type(6) { width: 150px; }

	}

	tr:nth-of-type(odd).selected {
		background-color: desaturate(lighten($color-primary, 20),20);
	}

	tr:nth-of-type(even).selected {
		background-color: desaturate(lighten($color-primary, 30),20);
	}

	// .asset_listview_preview_container {
	// 	width: 250px;
	// }

	.asset_listview_preview {
		padding: 0;
		margin: 0;
		width: 100px;
		height: 100px;
	}

	.asset_listview_design {
		display: block;
		float: left; 
		width: 50px;
		max-height :50px;
		margin-right: 5px;
		outline: 1px solid $color-gray;
	}

	.asset_listview_preview_design {
		width: 40%;
		position: relative;
		display: block;
		margin: 0 auto;
		padding-top: 20%;
	}
}



input[type=radio].tagcheckbox, input[type=checkbox].tagcheckbox {
	display: block;
	margin-left: -999999px;
	overflow: hidden;
	height: 1px;
	outline: 1px solid red;
	width: 1px;
	float: left;
	clip: rect(0, 0, 0, 0);

	& + .tag {
		display: block;
		float: left;
		background: $color-secondary;
		padding: 0 10px;
		line-height: 2em;	
		overflow: hidden;
	}

	&:checked + .tag {
		background: $color-primary;
		color: $color-light;
	}
}

.box {
	display: block;
	background: #EDEDED;
	@extend .shadow-light;
	@extend %transition;
	padding: $padding;
	overflow: hidden !important;
	width: 100%;
	margin: 0;
	font-size: 1rem;

	h4 {
		font-size: 1rem;
		height: 3rem;
	}

	.edit_asset_button {
		background-color: $color-gray;
		width: 100%;
		padding: 1em !important;
		margin: 0 !important;

		&:hover {
			background-color: desaturate(lighten($color-primary, 25), 25) !important;		
		}
		
		&:focus, &:active {
			background-color: darken($color-primary, 5) !important;	
			outline: none;	
		}

	}

	&:hover {
		@extend .shadow-dark;
		background-color: desaturate(lighten($color-primary, 50), 25);
	
		.edit_asset_button {
			background-color: $color-primary;
		}
	}
}

#newAssetTagContainer {
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: $padding;
}

.assetcontainer {
	.box {
		height: 300px;
		img {
			width: 100%;
			max-width: 100%;
			max-height: 125px;
		}
	}
}

.edit_asset_img {
	max-height: 300px;
	margin-bottom: 2em;
}

#assets {
	padding: $padding;
}

aside {
	width: 100%;
	display: block;
	border: 1px dashed $color-primary;
	padding: $padding;
	// overflow: hidden;
	float: left;
	height: auto;

	@media screen and (min-width: $break-medium) {
		width: 20%;
	}
}

.content {
	width: 100%;
	float: right;

	@media screen and (min-width: $break-medium) {
		// width: 80%;
	}
}

.tag {
	border-radius: 5px;
	margin: $padding $padding $padding 0 !important;
}

input.tag {
	height: 3.4em !important;
	padding: 5px 0 !important;
	margin-right: 5px;
	font-size: 0.8125rem;
	width: auto !important;
	background: white !important;
}

nav {
	background: $color-dark;
}

.nav_item {
	display: block;
	float: left;
	margin: $padding;
	padding: $padding;
	background-color: none;
	@include font-headline;
	color: $color-light;

	&.active {
		background-color: $color-primary;
		color: $color-dark;
	}
}

#nav_tags {
	color: $color-dark !important;
}

.dottedline {
	width: auto;
	height: 95%;
	border: 2px dashed $color-dark-gray;
	margin: $padding;
}

#btnNewAsset {
	text-align: center;
	color: $color-dark-gray;

	h1 {
		
		line-height: 7.5rem;
		margin: 20px 0 0 ;
		color: $color-dark-gray;
		font-size: 7.5rem;
	}

	.box {
		background: $color-light-gray url('/img/add.png') 50% 40% no-repeat;
		background-size: 40%;
		padding-top: 90%;
	}
}


// UI Helper classes

.flexigrid {
	display: block;
	clear: both;
	overflow: hidden;
	width: 100% !important;

	.flexigrid-item {
		float: left;
		padding: 0 $padding 0 0;
		margin-bottom: $padding;
		
		width: 50%;
		
		figure {
			display: block;
			height: 175px !important;
			padding: 0;
			margin: 0;
			clear: both;

			img {
				background-color: $color-gray;
				float: left;
				width: 15%;
				margin-top: -10px;
				outline: 1px solid $color-dark;
				margin-right: $padding; 
				// max-height: 25px;
			}

			img:first-of-type {
				display: block;
				position: relative;
				background: none !important;
				width: 40%;
				// max-height: auto;
				margin: 30% 30% 20%;
				outline: none;
			}
		}

		@media screen and (min-width: $break-small) {
			width: 33%;
		}
		@media screen and (min-width: $break-medium) {
			width: 25%;

			figure { height: 135px;}
		}
		@media screen and (min-width: $break-large) {
			// width: 20%;

			// figure { height: 100px;}
		}

		&.selected {
			.box {
				box-shadow: none !important;
				background-color: desaturate(lighten($color-primary, 25), 25);
			}
		}
	}
}

.shadow-light {
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.25);
}

.shadow-dark {
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

%transition {
	transition: all 0.3s 0s ease-out; 
}

.dropdown-arrow-right {

	&:before {
		display: block;
		width: 1em;
		content: "\232A";
		float: right;
		margin-right: -30px;
		margin-top: -5px;
		text-align: center;
	}	
}

#assetFiltersStatuses {
	.f-dropdown {
		width: 500px;
		max-width: 100%;

		height: 500px;
		max-height: 100%;

		overflow: scroll;

		li {
			clear: both;
		}
	}
}

.design_tag {
	height: 100px;
	img {
		width: 75px;
		max-height: 75px;
		margin: $padding 0;
	}
}

.productfilterstab {
	dd {
		width: 20%;
		text-align: center;
		outline: 1px solid $color-gray;

		&.active a {
			background: $color-primary !important;
		}
	}
	a {
		padding: $padding 0 !important;
		font-size: 80% !important;
		height: 100px;
	}
	img {
		max-height: 50px;
	}
}

.region_productfilterstab {
	dd.active a{
		background-color: $color-primary;
	}
}

.region_productfilterstabcontent {
	outline: 1px solid $color-gray;
	padding: $padding;

	.product_tag {
		
		margin: 1% !important;

		height: 145px;
		width: 31%;

		@media screen and (min-width: $break-small) {
			height: 145px;
			width: 14.6%;
		}
		@media screen and (min-width: $break-medium) {
			height: 145px;
			width: 14.6%;
		}
		img {
			margin: 5px auto;
			max-height: 100px !important;
		}
	}

	span {
		text-align: center;
		display: block;
		font-size: 0.7rem;
		line-height: 0.8rem;
	}
}


#appliedfilters {
	outline: 1px solid $color-gray;
	overflow: hidden;
	padding: $padding $padding 0;

	.filter_tag {
		display: block;

		background: $color-gray;
		padding: $padding;
		margin: 0 $padding $padding 0;
		float: left;
		border-radius: $padding;

		&.filter_tag_design {
			height: 90px;
		}

		img {
			max-width: 60px;
			max-height: 80px;
		}

		button {
			font-size: 1rem;
			line-height: .6rem;
			border-radius: $padding*2;
			padding: 5px;
			background-color: $color-light;
			color: $color-dark;
			float: right;
			margin: 0;
		}

		p {
			display: block;
			float: left;
			margin: 0 $padding 0 0;
			font-size: 80%;
		}
	}
}

.editing_product {
	.editing {
		height: 610px;
	}
}

input[type=checkbox].colortag + .tag {
	width: 25px;
	height: 25px;
	border-radius: 0 !important;
	border: 4px solid $color-gray;	
}

input[type=checkbox]:checked.colortag + .tag {
	border-radius: 0 !important;
	border: 4px solid $color-primary;	
}

.Global {
	&:before {
		display: block;
		position: relative;
		width: 25px;
		height: 25px;
		content: "\ ";
		background: url('/img/global_black.png') left top no-repeat;
		background-size: cover;
	}
}

.logo {
	display: block;
	float: left;
	width: 50px;
	height: 65px;
	background: url('/img/logo_small.png') left top no-repeat;
	margin-left: 50px;
}

.bulkactions {
	display: block;
	width: 330px;
	float: right;

	p {
		width: 120px;
		float: left;
	}

	select {
		width: 250px;
		height: 79px;
		float: left;
	}

	button {
		float: right;
		height: 79px;
	}
}

#assetgridview, #assetlistview, .select_all {
	float: left;
	margin-right: 5px;
	width: 37px; 
	padding: 10px;
}

.select_all {
	// margin: 0;
	padding: 0 !important;
	width: 37px !important; 
	height: 37px; 

	input[type=checkbox] {
		width: 30px;
		// width: 4*$padding;
		margin: 10px;
	}
}

#sort_assets {
	display: block;
	float: right;
	width: 250px;
}

#sort_assets_apply {
	width: 73px;
	height: 37px; 
	padding: 10px;
	float: right;
	margin: 0 -10px 0 7px;
}

#assets_status {
	display: block;
	float: left;
	width: 250px;
}

#show_assets_by_status {
	margin-left: 5px;
	height: 37px; 
	padding: 10px;
	float: left;
}

.applyfilters {
	&.cancel {
		color: $color-dark !important;
	}

	display: block;
	position: relative !important;
	float: right;
	font-size: 1rem !important;
	color: white !important;
	font-weight: normal !important;
	margin-right: $padding;
}

.search {
	width: 25% !important;
	float: left;
}

.search_button {
	margin-left: $padding;
	float: left;
	height: 37px;
}

.filter_by_products_button {
	width: 50px;
	margin-right: $padding;
}

.label {
	margin: -5px 0 0 -40px !important;
	transform: rotate(-45deg);
	padding: 5px 40px 5px 35px;

	&.In.Review {
		background-color: #FFF266 !important;
		color: $color-dark;
	}

	&.Published {
		background-color: #4CBF4C !important;
	}

	&.Unpublished {
		background-color: $color-gray !important;
		color: $color-dark;
	}

	&.Approved {
		background-color: $color-primary !important;
	}

	&.Rejected {
		background-color: #D96666 !important;
	}
}


.secondary_select_option {
	color: $color-light-gray !important;
}

.zerostate_asset {
	margin: 0 40px 40px 40px !important;
	text-align: center;
}

.zero_state_single {

}

.zero_state_multiple {


	&:before {
		display: block;
		width: 230px;
		height: 300px;
		margin: 0 !important;
		content: "\ ";
		// outline: 1px solid red;
		background-color: darken($color-light-gray, 3);
		transform: rotate(5deg);
		position: absolute;
		z-index: -1;
	}

	&:after {
		display: block;
		width: 230px;
		height: 300px;
		margin: 0 !important;
		content: "\ ";
		// outline: 1px solid red;
		background-color: darken($color-light-gray, 5);
		transform: rotate(-5deg);
		position: absolute;
		margin-top: -300px !important;
		z-index: -2;
	}
}



